* {
    margin: 0%;
    padding: 0%;
  }
  
  body {
    background: rgb(206, 205, 205);
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  .wrapper-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 60vh;
    width: 70%;
    height: 50%;
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 12px;
  }
  
  .content-one {
    background: #ffffff;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    font-weight: 700;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  
  .content-one:hover {
    font-size: 18px;
    transition: 0.8s;
  }
  
  .content-one h1 {
    color: #3fb8b7;
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .content-one h2 {
    color: #bddd3d;
    margin-left: 5rem;
    margin-top: 1.5rem;
  }
  .content-one p {
    color: #b9b9b9;
    margin-left: 5rem;
    margin-top: .8rem;
    font-size: 17px;
  }
  
  .content-two {
    background: #3fb8b7;
    grid-column-start: 1;
    grid-column-end: 1;
    color: #ffffff;
    font-weight: 700;
    border-bottom-left-radius: 20px;
  }
  .content-two:hover{
    font-size:16px;
    transition:.8s;
  }
  
  .content-two h1 {
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .content-two h2 {
    margin-left: 3rem;
    margin-top: 2rem;
  }
  
  .content-two p {
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 17px;
  }
  .content-two button {
    margin-left: 6rem;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    background: #bddd3d;
    color: #ffffff;
    border-radius: 8px;
  }
  .content-two button:hover {
    background: #dd9a1f;
  }
  
  .content-three {
    background: #8cdcdf;
    grid-column-start: 2;
    grid-column-end: 2;
    color: #fafafa;
    font-weight: 700;
    border-bottom-right-radius: 20px;
  }
  
  .content-three:hover {
    color: #114b66;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.8s;
  }
  
  .content-three h1 {
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .content-three p {
    margin-left: 4rem;
    margin-top: 2rem;
    font-size: 17px;
  }
  