*{
    margin: 0%;
    padding: 0%;
}

body{
    background: rgb(206, 205, 205);
box-sizing: border-box;
}

.content{
    background: rgb(212, 209, 209);
    width: 100%;
    height: 100%;

}

.wrapper-content{
  display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 40vh 60vh ;
   width: 70%;
   height: 50%;
   margin-left: 10%;
   margin-top: 8%;
   margin-bottom: 8%;
   font-size: 12px; 
}

.content-one{
background:#ffffff;
grid-column-start: 1;
grid-column-end: 3;
align-items: flex-start;
justify-content: left;
text-align: left;
font-weight: 700;
}

.content-one:hover{
    font-size: 18px;
    transition: .4s;
}

.content-one h1{
color: #3fb8b7;
margin-left: 5rem;
margin-top: 2rem;

}
.content-one h2{
 color: #bddd3d;
 margin-left: 5rem;
 margin-top: 2rem;
}
.content-one p{
color: #b9b9b9;
margin-left: 5rem;
margin-top: 1rem;
font-size: 17px;
}

.content-two{
background: #3fb8b7;
grid-column-start: 1;
grid-column-end: 1;
color: #ffffff;
font-weight: 700;
}
.content-two h1{
margin-left: 5rem;
margin-top: 3rem;
}
.content-two h2{
margin-left: 5rem;
margin-top: 2rem;
}
.content-two p{
    margin-left: 5rem;
    margin-top: 1rem;
    font-size: 17px;
}
.content-two button{
    margin-left: 6rem;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    background: #bddd3d;
    color: #ffffff;
    border-radius: 8px;
}
.content-two button:hover{
    background: #dd9a1f;
}

.content-three{
background: #8cdcdf;
grid-column-start: 2;
grid-column-end: 2;
color: #fafafa;
font-weight: 700;
}

.content-three:hover{
    color: #114b66;
    font-weight: bolder;
    font-size: 20px;
    transition: .3s;
}


.content-three h1{
margin-left: 5rem;
margin-top: 1rem;
}
.content-three p{
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 17px;

}
